name: Auto-merge automation PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    runs-on: ubuntu-latest

    steps:
      - name: Enable auto-merge
        if: |
            startsWith(github.head_ref, 'automation/docs/contributors/') ||
            startsWith(github.head_ref, 'automation/release/changelog/')
        run: |
            gh pr merge "${{ github.event.pull_request.number }}" \
            --auto \
            --squash
        env:
            GH_TOKEN: ${{ secrets.ADMIN_PAT }}
